<!DOCTYPE html>

<html>
  <head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
{{>header}}
  <body>
       <div class="main-content">
           <h1>{{message}}</h1>

    </div>
    
  </body>
   
  {{>footer}}
</html>
